
# BEGIN BackUpWordPress
# Строки между `BEGIN BackUpWordPress` и `END BackUpWordPress` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b5494b07c41f474dea6af7a0202d6f2d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress