@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  outline: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: HeliosExt, serif;
}

html {
  margin-top: 0 !important
}

a, a:active, a:focus, a:hover, a:visited {
  text-decoration: none
}

button:hover {
  cursor: pointer
}

input {
  -webkit-appearance: none;
  border-radius: 0
}

img {
  width: 100%
}

@font-face {
  font-family: HeliosCond;
  src: url(../fonts/helioscondc-bold.otf);
  src: url(../fonts/helioscondc-bold.otf) format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: HeliosExt;
  src: url(../fonts/HeliosExt.ttf);
  src: url(../fonts/HeliosExt.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

.header {
  background-color: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20
}

.header__logo img {
  height: 24.08px;
  width: 168px;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain
}

.header__address, .header__address .item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center
}

.header__address .item .icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 8px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat
}

.header__address .address {
  padding-right: 24px;
  position: relative
}

.header__address .address .address__wrapper .text {
  display: none;
  padding: 10px
}

.header__address .address .address__wrapper .text:hover {
  cursor: pointer
}

.header__address .address .address__wrapper .text--active {
  display: block
}

.header__address .address .show {
  background-color: #000;
  max-height: 1px;
  margin-top: -30px
}

.header__address .address .show .text {
  display: block;
  background-color: #000;
  padding: 10px
}

.header__address .address .show .text:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}

.header__address .address::after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, .1);
  width: 1px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  right: 0
}

.header__address .address .icon {
  background-image: url(../media/icon/address.svg);
  -webkit-transition: .3s;
  transition: .3s
}

.header__address .address .decor {
  margin-right: 0;
  background-size: 10px;
  background-image: url(../media/icon/arrow-down.svg)
}

.header__address .phone {
  padding-left: 24px
}

.header__address .phone .icon {
  background-image: url(../media/icon/phone.svg)
}

.header__menu-button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 80px;
  background: #00e1ff;
  padding: 0 32px
}

.header__menu-button span {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 4.5px
}

.header__menu-button .hamburger {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-left: 8px;
  padding: 5px 2px;
  z-index: 55;
  position: relative
}

.header__menu-button .hamburger .item {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 6px
}

.header__menu-button .hamburger .item:last-child {
  margin-bottom: 0
}

.header__menu-button:hover {
  cursor: pointer
}

.header-marg {
  height: 80px
}

.footer {
  background: #111;
  padding: 80px 0
}

.footer__logo {
  width: 168px;
  height: 24.08px;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 30px
}

.footer__social {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 24px
}

.footer__social .item {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 8px;
  background-position: center;
  background-size: 38%;
  background-repeat: no-repeat
}

.footer__social .item:last-child {
  margin-right: 0
}

.footer__coop {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, .6)
}

.footer ul li {
  list-style: none;
  margin-bottom: 24px
}

.footer ul li:last-child {
  margin-bottom: 0
}

.footer ul li a {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 24px;
  display: block;
  -webkit-transition: .3s;
  transition: .3s
}

.footer ul li a:hover {
  color: #0ff
}

.form {
  background-color: #111;
  background-image: url(../media/image/fon.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 160px 0;
  width: 100%
}

.form__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 80px;
  font-family: HeliosCond;
  text-align: left;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 64px
}

.form .form-text {
  margin-top: 14px;
  font-size: 12px;
  opacity: .5
}

.form form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto
}

.form form .input-double {
  display: -webkit-box;
  display: flex
}

.form form .input-wrapper {
  width: 100%;
  margin-bottom: 40px;
  position: relative
}

.form form .input-wrapper::after {
  content: '';
  font-size: 16px;
  line-height: 64px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .6);
  position: absolute;
  top: 2px;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s
}

.form form .input-wrapper--name::after {
  content: 'Ваше Имя'
}

.form form .input-wrapper--email::after {
  content: 'Ваш Телефон'
}

.form form .input-wrapper--comment::after {
  content: 'Коментарий'
}

.form form .input-wrapper--input {
  border-bottom: 2px solid #00e1ff
}

.form form .input-wrapper--input::after {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #00e1ff
}

.form form .input-wrapper input {
  width: 100%;
  background-color: transparent;
  line-height: 64px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  position: relative;
  z-index: 5
}

.form form .submit {
  padding: 20px 32px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  background: #66c;
  border: none;
  display: block;
  margin: 40px 0 0;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 100px;
  margin: 0 auto;
}

.form form .submit:hover {
  color: #fff;
  background: #0ff;
}

.modal-form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: #111;
  z-index: 50;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 20px;
}

.modal-form__logo {
  width: 168px;
  height: 24.08px;
  background-image: url(../media/icon/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 28px;
  left: 0
}

.modal-form__close {
  position: absolute;
  top: 28px;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center
}

.modal-form__close span {
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff
}

.modal-form__close__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  background-image: url(../media/icon/close.svg)
}

.nav-modal__catalog {
  margin-top: 100px
}

.nav-modal__catalog .nav-modal__title {
  font-family: HeliosCond;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 36px;
  opacity: .3
}

.nav-modal__catalog ul li {
  list-style: none;
  margin-bottom: 32px
}

.nav-modal__catalog ul li:last-child {
  margin-bottom: 0
}

.nav-modal__catalog ul li a {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s
}

.nav-modal__catalog ul li a:hover {
  color: #0ff
}

.nav-modal__menu {
  margin-top: 100px
}

.nav-modal__menu ul li {
  list-style: none;
  margin-bottom: 36px
}

.nav-modal__menu ul li:last-child {
  margin-bottom: 0
}

.nav-modal__menu ul li a {
  font-family: HeliosCond;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s
}

.nav-modal__menu ul li a:hover {
  color: #0ff
}

.alert-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 60
}

.alert-modal__body {
  background-color: #fff;
  max-width: 80%;
  border-radius: 15px;
  padding: 15px
}

.alert-modal__body p {
  color: #111;
  font-size: 36px;
  text-align: center
}

.page-catalog {
  padding-top: 96px;
  padding-bottom: 48px
}

.page-catalog__title {
  font-family: HeliosCond;
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 32px
}

.page-catalog__item {
  padding: 32px 0;
  margin-bottom: 32px;
  display: block
}

.page-catalog__item img {
  width: 100%;
  max-width: 100%;
  height: 228px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  margin-bottom: 36px
}

.page-catalog__item .name {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #222;
  width: 100%;
  display: block;
  -webkit-transition: .3s;
  transition: .3s
}

.page-catalog--inner {
  padding-top: 88px
}

.page-catalog--inner .page-catalog__bread {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -.02em;
  color: rgba(51, 51, 51, .3);
  padding-bottom: 40px;
  padding-top: 30px;
}

.page-catalog--inner .page-catalog__bread a {
  color: #333
}

.page-catalog--inner .page-catalog__title {
  margin-bottom: 42px
}

.page-catalog--inner .page-catalog__category {
  margin-bottom: 32px;
  overflow: hidden;
  position: relative
}

.page-catalog--inner .page-catalog__category::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 16px
}

.page-catalog--inner .page-catalog__category__wrapper {
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none
}

.page-catalog--inner .page-catalog__category__wrapper::-webkit-scrollbar {
  width: 0;
  background: rgba(255, 255, 255, 0)
}

.page-catalog--inner .page-catalog__category .list {
  display: -webkit-box;
  display: flex
}

.page-catalog--inner .page-catalog__category .list .item {
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, .6);
  padding-bottom: 16px;
  margin-right: 36px;
  display: none;
  white-space: nowrap
}

.page-catalog--inner .page-catalog__category .list .item--active {
  color: #66c;
  position: relative;
  border-bottom: 3px solid #66c
}

.page-catalog--inner .page-catalog__category .list .item--show {
  display: block
}

.page-catalog--inner .page-catalog__category .list .item:hover {
  cursor: pointer
}

.page-catalog--inner .page-catalog__category .list::-webkit-scrollbar {
  width: 0
}

.page-catalog--inner .hidden-col {
  display: none
}

.page-catalog--inner .page-catalog__item img {
  margin-bottom: 21px
}

.page-catalog--inner .page-catalog__item .price {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -.02em;
  color: #66c;
  display: block;
  width: 100%;
  text-align: center
}

.page-catalog--page .page-catalog__item {
  -webkit-transition: .3s;
  transition: .3s;
  display: block
}

.page-catalog--page .page-catalog__item:hover {
  cursor: pointer;
  background-color: #66c;
  background-image: url(../media/icon/pattern.svg);
  background-position: center
}

.page-catalog--page .page-catalog__item:hover .name {
  color: #fff
}

.page-catalog--home .page-catalog__item {
  -webkit-transition: .3s;
  transition: .3s;
  display: block
}

.page-catalog--home .page-catalog__item:hover {
  cursor: pointer;
  background-color: #66c;
  background-image: url(../media/icon/pattern.svg);
  background-position: center
}

.page-catalog--home .page-catalog__item:hover .name {
  color: #fff
}

.page-catalog--last {
  padding-bottom: 0;
  border-bottom: 1px solid rgba(17, 17, 17, .1)
}

.page-catalog--last .page-catalog__title {
  margin-bottom: 48px
}

.page-catalog--last .page-catalog__small-desc {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -.02em;
  color: #333;
  margin-bottom: 48px
}

.page-catalog--last__btn-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 64px
}

.page-catalog--last__btn-wrapper .page-catalog--last__price {
  font-size: 24px;
  line-height: 30px;
  color: #66c;
  margin-left: 24px
}

.page-catalog--last__btn {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  background: #66c;
  padding: 20px 32px 14px;
  display: inline-block;
  white-space: nowrap
}

.page-catalog--last__btn:hover {
  cursor: pointer
}

.page-catalog--last__img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  padding-top: 40px;
}

.page-catalog--last__img--mobile {
  display: none
}

.page-catalog--last__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center
}

.page-catalog--last__nav .item {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, .6);
  padding-bottom: 13px
}

.page-catalog--last__nav .item:nth-child(2) {
  margin-right: 36px;
  margin-left: 36px
}

.page-catalog--last__nav .item--active {
  color: #66c;
  border-bottom: 3px solid #66c
}

.main-desc {
  padding: 56px 0;
  border-bottom: 1px solid rgba(17, 17, 17, .1)
}

.main-desc__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  font-family: HeliosCond;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 32px
}

.main-desc__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(34, 34, 34, .8)
}

.page-catalog--last__title-more {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  font-family: HeliosCond;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #111
}

.contact-page {
  /*position: relative;*/
  /*min-height: 820px*/
}

.contact-page__back-title {
  font-family: HeliosCond;
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  position: absolute;
  top: 80px;
  left: 15px;
  z-index: 4
}

.contact-page__wrapper {
  overflow: hidden;
  padding-top: 80px
}

.contact-page__wrapper .contact-page__title {
  position: relative;
  margin-bottom: 48px
}

.contact-page__wrapper .contact-page__title .first {
  font-family: HeliosCond;
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #111;
  white-space: nowrap;
  position: relative;
  z-index: 8;
  max-width: 100%
}

.contact-page__list .item {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .6;
  margin-bottom: 40px
}

.contact-page__list .item:hover {
  cursor: pointer
}

.contact-page__list .item .name {
  /*font-weight: 700;*/
  /*font-size: 20px;*/
  /*line-height: 26px;*/
  /*font-family: HeliosCond;*/
  /*text-transform: uppercase;*/
  /*color: #111;*/
  /*margin-bottom: 16px;*/
  /*-webkit-transition: .3s;*/
  /*transition: .3s*/
}

.contact-page__list .item .address, .contact-page__list .item .number {
  /*font-size: 16px;*/
  /*line-height: 24px;*/
  /*letter-spacing: -.02em;*/
  /*color: #333*/
}

.contact-page__list .item .address {
  margin-bottom: 8px
}

.contact-page__list .item--active {
  opacity: 1;
  position: relative
}

.contact-page__list .item--active .name {
  color: #00e1ff
}

.contact-page__map {
  /*position: absolute;*/
  /*z-index: 3;*/
  /*height: 820px;*/
  /*width: 100%;*/
  /*top: 0;*/
  /*right: 0;*/
  /*-webkit-transition: .3s;*/
  /*transition: .3s;*/
  opacity: 0;
  display: none
}

.contact-page__map--active {
  opacity: 1;
  display: block
}

.main-block {
  min-height: calc(100vh - 80px);
  background-image: url(../media/image/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-bottom: 128px;
  position: relative;
  overflow: hidden
}

.main-block__count {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 24px
}

.main-block__count .current {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #333;
  opacity: 1
}

.main-block__count .all {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #333;
  opacity: .6
}

.main-block__name {
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
  font-family: HeliosCond;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 24px;
  white-space: nowrap
}

.main-block__desc {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -.02em;
  color: #333
}

.main-block__img {
  max-width: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: -100px;
  max-height: 550px;
  display: none;
  -webkit-transition: none;
  transition: none
}

.main-block__img--first {
  opacity: 0;
  display: block
}

.main-block__img--second {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .6s, -webkit-transform 1s;
  transition: transform 1s, opacity .6s, -webkit-transform 1s;
  display: block
}

.main-block__img--next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .6s, -webkit-transform 1s;
  transition: transform 1s, opacity .6s, -webkit-transform 1s;
  -webkit-transform: translate(200%, 200%) rotate(30deg);
  transform: translate(200%, 200%) rotate(30deg);
  opacity: 0;
  display: block
}

.main-block__logo {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #222;
  width: 100%;
  margin-left: 0;
  padding: 0 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center
}

@media (min-width: 576px) {
  .main-block__logo {
    max-width: 540px;
    left: 50%;
    margin-left: -270px
  }
}

@media (min-width: 768px) {
  .main-block__logo {
    max-width: 720px;
    left: 50%;
    margin-left: -360px
  }
}

@media (min-width: 992px) {
  .main-block__logo {
    max-width: 960px;
    left: 50%;
    margin-left: -480px
  }
}

@media (min-width: 1200px) {
  .main-block__logo {
    max-width: 1140px;
    left: 50%;
    margin-left: -570px
  }
}

.main-block__logo .item {
  margin-right: 10px;
  width: 100%;
  height: 128px;
  padding: 20px 30px;
  opacity: .6
}

.main-block__logo .item img {
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-filter: brightness(0) invert(100%);
  filter: brightness(0) invert(100%)
}

.main-block__logo .item:last-child {
  margin-right: 0
}

.main-block__logo .item:hover {
  cursor: pointer
}

.main-block__logo .item--active {
  opacity: 1
}

.main-block__logo .item--active img {
  -webkit-filter: none;
  filter: none
}

.home-moto {
  padding: 160px 0;
  overflow: hidden;
  position: relative
}

.home-moto::after {
  content: '';
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 1800px;
  height: 258.01px;
  background-image: url(../media/icon/logo-text.svg);
  top: 545px;
  left: 50%;
  margin-left: -150px;
  z-index: 3
}

.home-moto .home-moto__item--1 {
  width: 471px;
  height: 471px;
  margin-left: 75px;
  overflow: hidden
}

.home-moto .home-moto__item--2 {
  width: 427px;
  height: 555px;
  margin-top: -245px;
  overflow: hidden
}

.home-moto .home-moto__item--3 {
  width: 492px;
  height: 350px;
  margin-left: -100px;
  overflow: hidden
}

.home-moto .home-moto__photo {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: relative;
  z-index: 5;
  width: 100%;
  -webkit-transform: scale(1.25);
  transform: scale(1.25)
}

.home-moto__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  font-family: HeliosCond;
  color: #111;
  margin-bottom: 44px;
  position: relative;
  z-index: 5
}

.home-moto__desc {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -.02em;
  color: #333;
  margin-bottom: 44px;
  position: relative;
  z-index: 5
}

.home-moto__btn {
  font-size: 14px;
  line-height: 22px;
  padding: 20px 64px 14px 32px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  background: #66c;
  display: inline-block;
  position: relative;
  margin-bottom: 80px;
  z-index: 5;
  -webkit-transition: .3s;
  transition: .3s
}

.home-moto__btn:hover {
  color: #0ff;
  cursor: pointer
}

.home-moto__btn::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 8px;
  background-repeat: no-repeat;
  background-image: url(../media/icon/arrow.svg);
  top: 50%;
  margin-top: -12px;
  right: 32px
}

.home-blocks {
  overflow: hidden;
  position: relative
}

.home-blocks__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  z-index: 10;
  top: 120px;
  left: 15px
}

.home-blocks__nav .item-nav {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: rgba(34, 34, 34, .6);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr
}

.home-blocks__nav .item-nav:hover {
  cursor: pointer
}

.home-blocks__nav .item-nav--active {
  color: #222
}

.home-blocks__nav span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: rgba(34, 34, 34, .6);
  display: block;
  margin: 8px 0
}

.home-blocks__after::after {
  content: '';
  position: absolute;
  width: 1800px;
  height: 258.01px;
  background-image: url(../media/icon/logo-text.svg);
  top: 0;
  left: 10%;
  z-index: 1
}

.home-blocks .item {
  position: relative;
  padding: 120px 0;
  z-index: 2
}

.home-blocks .item .wrapper {
  height: 730px
}

.home-blocks .item .title-absolute {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  white-space: nowrap;
  font-family: HeliosCond
}

.home-blocks .item .desc-absolute {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -.02em;
  color: #fff;
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 520px
}

.home-blocks .item .home-blocks__img-wrapper {
  height: 730px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center
}

.home-blocks .item__img {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  position: relative;
  z-index: 2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  width: auto;
  height: 100%
}

.home-blocks .item__text {
  overflow: hidden;
  padding-top: 160px;
  position: relative;
  height: 100%
}

.home-blocks .item__text .title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #111;
  position: relative;
  z-index: 7;
  white-space: nowrap;
  font-family: HeliosCond
}

.home-blocks .item__text .desc {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -.02em;
  color: #333;
  margin: 44px 0;
  position: relative;
  z-index: 7;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 520px
}

.home-blocks .item__text .button {
  padding: 20px 48px 14px 32px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #fff;
  background: #66c;
  display: inline-block;
  margin-left: 40px;
  position: relative
}

.home-blocks .item__text .button::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  right: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  background-image: url(../media/icon/arrow.svg)
}

.home-blocks .item__text .button:hover {
  cursor: pointer
}

.home-blocks .item__text--left .title {
  margin-left: -210px;
  white-space: nowrap;
  font-family: HeliosCond
}

.home-blocks .item__text--left .desc {
  margin-left: -120px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 520px
}

.home-blocks .item__text--right .title {
  margin-left: 80px;
  width: 100%;
  white-space: nowrap;
  font-family: HeliosCond
}

.home-blocks .item__text--right .desc {
  margin-left: 160px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 520px
}

.home-blocks .item__text--right .button {
  margin-left: 160px
}

.home-blocks .item--left .title-absolute {
  z-index: 5;
  top: 160px;
  left: -210px;
  white-space: nowrap;
  font-family: HeliosCond
}

.home-blocks .item--left .desc-absolute {
  z-index: 5;
  top: 364px;
  left: -120px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 520px
}

.home-blocks .item--right .title-absolute {
  z-index: 5;
  top: 160px;
  left: 95px;
  width: 100%;
  white-space: nowrap;
  font-family: HeliosCond
}

.home-blocks .item--right .desc-absolute {
  z-index: 5;
  top: 364px;
  left: 175px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 520px
}

.about-page {
  padding-top: 128px;
  position: relative;
  bottom: -1px;
}

.about-page__title {
  font-family: HeliosCond;
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #111
}

.about-page__text {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -.02em;
  color: #333
}

.about-page__img {
  height: 423px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block;
  margin-top: 80px
}

@media screen and (max-height: 815px) {
  .main-block {
    padding-top: 150px
  }
}

@media screen and (max-width: 1199px) {
  .main-block .main-block__img {
    margin-top: 0
  }

  .home-moto .home-moto__photo--1 {
    margin-left: 30px
  }

  .home-moto .home-moto__photo--3 {
    margin-left: -20px
  }

  .home-moto .home-moto__btn, .home-moto .home-moto__desc, .home-moto .home-moto__title {
    margin-left: 50px
  }

  .page-catalog .page-catalog__title {
    font-size: 40px;
    line-height: 50px
  }

  .page-catalog .page-catalog--last__btn {
    font-size: 14px;
    line-height: 22px
  }

  .page-catalog .page-catalog--last__price {
    font-size: 24px;
    line-height: 30px;
    white-space: nowrap
  }
}

@media screen and (max-width: 991px) {
  .header .header__logo {
    width: 126px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -9px;
    margin-left: -63px
  }

  .header .header__logo img {
    width: 100%;
    height: 100%
  }

  .header .header__address {
    display: none
  }

  .header .header__menu-button {
    background-color: transparent;
    padding: 0 16px
  }

  .header .header__menu-button span {
    display: none
  }

  .main-block {
    padding-top: 56px;
    padding-bottom: 64px
  }

  .main-block .main-block__count, .main-block .main-block__name {
    margin-bottom: 14px
  }

  .main-block .main-block__img {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 8px
  }

  .main-block .main-block__logo {
    overflow: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none
  }

  .main-block .main-block__logo::-webkit-scrollbar {
    width: 0;
    background: rgba(255, 255, 255, 0)
  }

  .main-block .main-block__logo .item {
    min-width: calc((100% / 3) - 40px);
    height: 64px;
    margin-top: 16px;
    padding: 10px 20px
  }

  .home-moto {
    padding-top: 16px;
    position: relative;
    padding-bottom: 0
  }

  .home-moto::after {
    margin-left: 0;
    left: 0;
    top: 16px
  }

  .home-moto .home-moto__item--1 {
    margin-left: 70px
  }

  .home-moto .home-moto__item--2 {
    margin-bottom: 48px
  }

  .home-moto .home-moto__item--3 {
    position: absolute;
    top: -350px;
    margin-left: 0;
    margin-right: -245px;
    right: 0
  }

  .home-moto .home-moto__btn, .home-moto .home-moto__desc, .home-moto .home-moto__title {
    margin-left: 0
  }

  .home-moto .home-moto__title {
    margin-top: 48px
  }

  .page-catalog--home {
    padding-top: 0
  }

  .page-catalog {
    padding-bottom: 0
  }

  .page-catalog .page-catalog__item {
    padding: 16px 0
  }

  .home-blocks {
    padding-top: 0;
    padding-bottom: 40px
  }

  .home-blocks .container .col-12 {
    padding-left: 15px !important;
    padding-right: 15px !important
  }

  .home-blocks .item {
    padding-bottom: 40px
  }

  .home-blocks .item .wrapper {
    height: auto
  }

  .home-blocks .item__text {
    padding-top: 0
  }

  .home-blocks .item--left .title-absolute {
    top: 0;
    left: 15px;
    margin-top: -33px !important
  }

  .home-blocks .item--left .desc-absolute {
    top: 0;
    left: 0;
    margin-top: -33px !important;
    display: none
  }

  .home-blocks .item--right .title-absolute {
    top: 0;
    left: 15px;
    margin-top: -33px !important
  }

  .home-blocks .item--right .desc-absolute {
    top: 0;
    left: 0;
    margin-top: -33px !important;
    display: none
  }

  .home-blocks .item__text--left .title {
    margin-top: -33px !important;
    margin-left: 0
  }

  .home-blocks .item__text--left .desc {
    width: 100%;
    margin-left: 0
  }

  .home-blocks .item__text--left .button {
    margin-left: 0
  }

  .home-blocks .item__text--right .title {
    margin-top: -33px !important;
    margin-left: 0
  }

  .home-blocks .item__text--right .desc {
    width: 100%;
    margin-left: 0
  }

  .home-blocks .item__text--right .button {
    margin-left: 0
  }

  .footer .col-mb {
    margin-bottom: 40px
  }

  .footer ul li {
    margin-bottom: 20px
  }

  .footer ul li .footer__link, .footer ul li a {
    font-size: 14px;
    line-height: 24px;
    text-align: center
  }

  .footer .order-last a {
    display: block;
    width: 100%;
    margin-top: 40px
  }

  .footer .order-last a .footer__logo {
    display: block;
    margin: 0 auto 20px
  }

  .footer .footer__social {
    -webkit-box-pack: center;
    justify-content: center
  }

  .footer .footer__social .item {
    width: 40px;
    min-width: 40px;
    margin-top: 0;
    margin-right: 8px;
    margin-left: 8px
  }

  .footer .footer__coop {
    font-size: 14px;
    line-height: 22px;
    text-align: center
  }

  .contact-page__list .item--active::before {
    display: none
  }

  .contact-page__map {
    margin-top: 40px;
    position: relative;
    height: 500px;
    width: 100% !important
  }

  .form .form__title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 16px
  }

  .form .form .input-wrapper {
    margin-bottom: 24px
  }

  .form .form .input-wrapper input, .form .form .input-wrapper::after {
    font-size: 16px;
    line-height: 24px
  }

  .nav-modal__catalog {
    margin-top: 40px;
    padding-top: 36px;
    border-top: 1px solid rgba(255, 255, 255, .1)
  }

  .nav-modal__catalog .nav-modal__title {
    display: none
  }

  .nav-modal__catalog ul li {
    list-style: none;
    margin-bottom: 15px
  }

  .nav-modal__catalog ul li:last-child {
    margin-bottom: 0
  }

  .nav-modal__catalog ul li a {
    text-align: center;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    display: block
  }

  .nav-modal__menu {
    margin-top: 90px;
  }

  .nav-modal__menu ul li {
    list-style: none;
    margin-bottom: 15px
  }

  .nav-modal__menu ul li:last-child {
    margin-bottom: 0
  }

  .nav-modal__menu ul li a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -.02em;
    text-transform: uppercase;
    font-family: HeliosCond;
    color: #fff;
    width: 100%;
    display: block
  }

  .modal-form__logo {
    left: 50%;
    margin-left: -62.79px;
    width: 125.58px;
    height: 18px
  }

  .home-blocks__nav, .modal-form__close span {
    display: none
  }
}

@media screen and (max-width: 767px) {
  .home-moto .home-moto__item--1 {
    width: 255.86px;
    height: 255.86px
  }

  .home-moto .home-moto__item--2 {
    width: 241.3px;
    height: 283.66px;
    margin-bottom: 0;
    margin-top: -172px
  }

  .home-moto .home-moto__item--3 {
    width: 262.81px;
    height: 215.82px;
    top: -110px;
    margin-right: -10px
  }

  .home-moto .home-moto__btn, .home-moto .home-moto__desc, .home-moto .home-moto__title {
    margin-left: 0
  }

  .home-moto .home-moto__title {
    margin-top: 148px
  }

  .home-blocks .home-blocks__img-wrapper {
    height: 450px
  }

  .page-catalog--last__nav {
    display: none
  }

  .page-catalog .page-catalog__title {
    margin-bottom: 20px
  }

  .page-catalog .page-catalog__small-desc {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 25px
  }

  .page-catalog .page-catalog--last__btn-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    align-items: flex-start
  }

  .page-catalog .page-catalog--last__price {
    margin-bottom: 18px;
    margin-left: 0
  }

  .page-catalog .page-catalog--last__img {
    display: none
  }

  .page-catalog .page-catalog--last__img--mobile {
    display: block;
    padding-top: 0;
  }

  .last-border {
    border-top: 1px solid rgba(17, 17, 17, .1);
    padding-top: 24px
  }

  .page-catalog--last__title-more {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 14px
  }

  .page-catalog .page-catalog--last__btn {
    font-size: 12px;
    width: 100%
  }

  .main-desc {
    border-bottom: none;
    padding-top: 24px;
    padding-bottom: 24px
  }

  .main-desc .main-desc__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px
  }

  .main-desc .main-desc__text {
    font-size: 14px;
    line-height: 22px
  }

  .contact-page__back-title {
    font-size: 24px;
    line-height: 30px;
    display: none
  }

  .contact-page__wrapper .contact-page__title .first {
    font-size: 34px;
    line-height: 30px;
    margin-bottom: 20px
  }

  .form {
    padding: 40px 0
  }

  .form .form__title {
    text-align: left
  }

  .modal-form .form {
    margin-top: 100px;
    width: 100%
  }

  .alert-modal__body p {
    font-size: 16px
  }
}

@media screen and (max-width: 575px) {
  .main-block {
    background-position: right top;
    background-image: url(../media/image/bg-mobile.png);
    padding-bottom: 84px
  }

  .main-block .main-block__count .all, .main-block .main-block__count .current {
    color: #fff
  }

  .main-block .main-block__name {
    font-size: 28px;
    line-height: 35px;
    color: #fff
  }

  .main-block .main-block__desc {
    font-size: 14px;
    line-height: 20px;
    color: #fff
  }

  .main-block .main-block__logo .item {
    min-width: calc((100% / 3) - 20px);
    height: 64px;
    margin-top: 16px;
    padding: 10px
  }

  .home-moto::after {
    width: 600px;
    height: 86px;
    background-position: left center;
    background-size: 600px 86px
  }

  .home-moto .home-moto__item--1 {
    width: 155.86px;
    height: 155.86px;
    display: block
  }

  .home-moto .home-moto__item--2 {
    width: 141.3px;
    height: 183.66px;
    display: block;
    margin-top: -72px
  }

  .home-moto .home-moto__item--3 {
    width: 162.81px;
    height: 115.82px;
    right: auto;
    left: 50%;
    top: -90px;
    margin-right: 30px
  }

  .home-moto .home-moto__btn, .home-moto .home-moto__desc, .home-moto .home-moto__title {
    margin-left: 0
  }

  .home-moto .home-moto__title {
    margin-top: 48px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px
  }

  .home-moto .home-moto__desc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px
  }

  .home-moto .home-moto__btn {
    font-size: 12px;
    line-height: 22px;
    display: block;
    white-space: nowrap
  }

  .page-catalog__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px
  }

  .page-catalog .page-catalog__item img {
    height: 90.68px;
    margin-bottom: 6px
  }

  .page-catalog .page-catalog__item .name {
    font-size: 12px;
    line-height: 24px
  }

  .home-blocks .container {
    padding-left: 0 !important;
    padding-right: 0 !important
  }

  .home-blocks .container .col-lg-5 {
    padding-left: 30px !important;
    padding-right: 30px !important
  }

  .home-blocks .container .col-lg-7 {
    padding-left: 0 !important;
    padding-right: 0 !important
  }

  .home-blocks .home-blocks__img-wrapper {
    height: 240px
  }

  .home-blocks .item {
    padding-bottom: 0
  }

  .home-blocks .item--left .title-absolute, .home-blocks .item--right .title-absolute {
    top: 0;
    left: 30px;
    margin-top: -12px !important;
    font-size: 24px;
    line-height: 30px
  }

  .home-blocks .item__text--left .title {
    margin-top: -12px !important;
    margin-left: 0;
    font-size: 24px;
    line-height: 30px
  }

  .home-blocks .item__text--left .desc {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0
  }

  .home-blocks .item__text--left .button {
    margin-left: 0;
    width: 100%;
    display: block;
    font-size: 12px;
    line-height: 22px;
    text-align: center
  }

  .home-blocks .item__text--right .title {
    margin-top: -12px !important;
    margin-left: 0;
    font-size: 24px;
    line-height: 30px
  }

  .home-blocks .item__text--right .desc {
    width: 100%;
    margin: 16px 0;
    font-size: 14px;
    line-height: 20px
  }

  .home-blocks .item__text--right .button {
    margin-left: 0;
    font-size: 12px;
    line-height: 22px;
    width: 100%;
    display: block;
    text-align: center
  }

  .form form .submit {
    width: 100%
  }

  .modal-form__close {
    padding-right: 15px
  }

  .about-page {
    padding-top: 40px;
  }

  .about-page .about-page__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px
  }

  .about-page .about-page__text {
    font-size: 14px;
    line-height: 20px
  }

  .about-page .about-page__img {
    height: 240px;
    margin-top: 40px
  }
}

.showForm {
  -webkit-transition: .3s;
  transition: .3s
}

.showForm:hover {
  color: #ffffff !important;
  background: #00E1FF !important;
}

/*fix*/

.fix_home__wrapper {
  background-color: #111;
}

.fix_delimiter {
  margin: 0 8px;
  opacity: .3;
}

.slider__count .all {
  opacity: .3;
}

.fix_home {
  height: 100vh;
  background-color: #111;
  position: relative;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fix_home::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #111;
  left: 0;
  bottom: 0;
}

.fix_home .fix_bottom {
  position: absolute;
  width: calc(100% + 2px);
  height: auto;
  top: 100vh;
  left: -1px;
  z-index: 10;
}

.fix_home .slider {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fix_slider__wrapper {
  height: 100%;
  width: 100%;
}

.catalog {
  padding-top: 160px;
  margin-top: -1px;
  position: relative;
  z-index: 11;
}

.slider_mobile_nav_fix {
  display: none;
}

@media (max-width: 575px) {
  .slider_mobile_nav_fix {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 32px;
  }

  .slider_mobile_nav_fix .dot {
    border-radius: 50%;
    margin-right: 12px;
    width: 6px;
    min-width: 6px;
    height: 6px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    transition: all .3s;
    cursor: pointer;
  }

  .slider_mobile_nav_fix .dot:last-child {
    margin-right: 0;
  }

  .slider_mobile_nav_fix .dot-active {
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #fff;
  }

  .home .slider .item .slaider-content .desc a {
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  .fix_home {
    height: calc(100vh - 60px) !important;
  }

  .fix_home .fix_bottom {
    top: auto;
    bottom: 0;
  }
}