@charset "UTF-8";
a, a:active, a:focus, a:hover, a:visited {
  text-decoration: none
}

button:hover {
  cursor: pointer
}

input {
  -webkit-appearance: none;
  border-radius: 0
}

img {
  width: 100%
}

.school-slider {
  color: #171717;
  position: relative;
  padding: 120px
}

.school-slider .slider {
  height: 100%;
  width: 100%;
  position: relative;
}

.school-slider .slider__nav {
  display: -webkit-box;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 520px;
  z-index: 1;
  min-width: 233px;
  justify-content: space-between;
  align-items: center;
}

.school-slider .slider__nav .slider__count {
  display: flex;
  margin: 0 24px;
}

.school-slider .slider__nav .next, .school-slider .slider__nav .prev {
  padding: 10px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.school-slider .slider__nav .next::after,
.school-slider .slider__nav .prev::after {
  content: "";
  background: url(../media/icon/arrow-right-slider.svg) 0 0/24px;
  width: 24px;
  height: 24px;
}

.school-slider .slider__nav .next:hover, .school-slider .slider__nav .prev:hover {
  cursor: pointer
}



.school-slider .slider__nav .next::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.school-slider .slider .item {
  display: none;
  height: 100%;
  width: 100%
}

.school-slider .slider .item--active {
  display: block;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center
}

.school-slider .slider .item .slider-img {

  flex: 1;
  position: relative;
  min-width: 442px;
  min-height: 592px;
  object-fit: cover;
  object-position: center;
}

.school-slider .slider .item .slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.school-slider .slider .item .slider-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 50%;
  flex: 2;
  padding-left: 80px;
  padding-bottom: 50px;
  position: relative;
}

.school-slider .slider .item .slider-text h3 {
  font-family: HeliosCond;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 8px
}

.school-slider .slider .item .slider-text h2 {
  font-family: HeliosCond;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: 0.03em;
  margin-bottom: 36px
}

.school-slider .slider .item .slider-text p {
  font-family: HeliosExt;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -.02em
}





.school-page {
  background-color: #111;
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 0;
  margin-top: 79px;
}

.school-page .img-block {
  position: relative;
  top: -50px;
  right: 0;
  width: 100%;
  height: 440px;
}

.school-page .img-block .photo-bg {
  min-width: 834px;
  max-width: 834px;
  max-height: 660px;
  height: 660px;
  position: absolute;
  top: 0px;
  right: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* .school-page .img-block::after {
content: "";
background-image: url(../media/image/darkBlock.png);
background-position: center;
background-size: cover;
width: 1409.24px;
height: 704px;
position: absolute;
} */

.school-page .img-block::after {
  content: "";
  width: 1100px;
  height: 100%;
  background-color: #111;
  position: absolute;
  z-index: 2;
  top: 70%;
  right: 5%;
  transform: rotate(43deg);
}

.school-page .img-block::before {
  content: "";
  width: 100%;
  height: 300px;
  background-color: #111;
  position: absolute;
  z-index: 2;
  top: 348px;
  right: -68%;
  transform: rotate(-37deg);
}

.school-page-title {
  max-width: 600px;
  padding-bottom: 128px;
  z-index: 3;
  position: relative;
  top: -163px;
  background-color: #111
}

.school-page-title h1 {
  font-family: HeliosCond;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: .08em;
  text-transform: uppercase;
  margin: 0 0 36px
}

.school-page-title p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -.02em
}

.school-block {
  padding-bottom: 128px
}

.school-page-content {
  padding-left: 65px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
}

.school-page-content img {
  height: auto;
  width: 100%;
  margin: 0 auto
}

.school-page-content .school-text h2 {
  font-family: HeliosCond;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  text-transform: uppercase;
  margin-bottom: 36px;
  letter-spacing: 0.03em;
}

.school-page-content .school-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -.02em
}

.school-about {
  width: 100%;
  background-color: #000;
  padding: 128px 0;
}

.school-about .school-about-title {
  text-align: left;
}

.school-about .school-about-title h2 {
  font-family: HeliosCond;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 87px
}

.school-about .about-school-content {
  text-align: left;
  padding: 0;
}

.school-about .about-school-content img {
  width: 68px;
  height: 68px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  margin-bottom: 27px
}

.school-about .about-school-content h3 {
  font-family: HeliosCond;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.school-about .about-school-content p {
  font-family: HeliosExt;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.school-about .about-school-content .school-svg {
  width: 62px;
  height: 64px
}

.school-about .about-school-content .school-svg_1 {
  width: 72px;
  height: 68px
}


@media screen and (max-height: 815px) {
  .main-block {
    padding-top: 150px
  }
}

@media screen and (max-width: 1199px) {

  .school-slider .slider .item .slider-text {
    padding-left: 50px;
  }
  .school-slider .slider .item .slider-text h3 {
    font-size: 22px;
    margin-bottom: 29px
  }

  .school-slider .slider .item .slider-text h2 {
    font-size: 53px;
    margin-bottom: 10px;
    line-height: 60px;
  }

  .school-slider .slider .item .slider-text p {
    font-size: 15px
  }

  .school-block .school-page-content .school-text h2 {
    font-size: 60px
  }

  .school-page .img-block .photo-bg {
    /* right: -119px */
    right: -15px;
  }

  .school-page-title {
    top: -65px;
  }
  .school-slider .slider__nav {
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    bottom: unset;
  }
  .school-slider .slider .item .slider-img {
    min-width: 342px;
    min-height: 492px;
  }
}

@media screen and (max-width: 991px) {
  .school-block .school-page-content .school-text h2 {
    font-size: 46px;
    line-height: 53px;
    margin-bottom: 18px
  }

  .school-block .school-page-content .school-text p {
    font-size: 16px;
    line-height: 26px
  }

  .school-about .school-about-title h2 {
    font-size: 50px
  }

  .school-about .about-school-content {
    padding: 50px 0
  }

  .school-about .item {
    border: none;
    border-top: 1px solid rgba(223, 214, 214, .1);
    border-bottom: 1px solid rgba(223, 214, 214, .1)
  }

  .school-slider {
    padding: 120px 70px
  }

  .school-slider .slider__nav .next, .school-slider .slider__nav .prev {
    width: 46px;
    height: 46px
  }

  .school-slider .slider__nav .next::after, .school-slider .slider__nav .prev::after {
    top: 11px;
    left: 12px
  }

  .school-slider .slider .item .slider-img {
    -webkit-box-flex: 35%;
    flex: 35%
  }

  .school-slider .slider .item .slider-text h3 {
    font-size: 21px;
    margin-bottom: 2px
  }

  .school-slider .slider .item .slider-text h2 {
    font-size: 50px;
    margin-bottom: 10px
  }

  .school-slider .slider .item .slider-text p {
    font-size: 14px;
    line-height: 24px
  }

  .school-page .img-block .photo-bg {
    right: -15px;
    height: 575px;
    top: 36px;
  }
  .school-page-title {
    top: 75px;
  }
  .about-page-content img {
    min-width: auto;
  }
  .school-block .school-page-content {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .school-about .school-col {
    padding: 0 15px
  }

  .school-about .school-about-title h2 {
    font-size: 43px;
    line-height: 62px
  }

  .school-about .school-about-title p {
    max-width: 600px;
    margin: 0 auto
  }

  .school-slider .slider__nav .next, .school-slider .slider__nav .prev {
    width: 46px;
    height: 46px
  }

  .school-slider .slider__nav .next::after, .school-slider .slider__nav .prev::after {
    top: 11px;
    left: 12px
  }

  .school-slider .slider .item--active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
  }

  .school-slider .slider .item .slider-img {
    max-width: 350px;
    margin: 0 auto
  }

  .school-slider .slider .item .slider-text {
    margin-top: 20px
  }

  .school-slider .slider .item .slider-text h3 {
    font-size: 21px;
    margin-bottom: 2px
  }

  .school-slider .slider .item .slider-text h2 {
    font-size: 50px;
    margin-bottom: 10px
  }

  .school-slider .slider .item .slider-text p {
    font-size: 14px;
    line-height: 24px
  }

  .school-page .img-block .photo-bg {
    width: 95%;
    height: 300px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    min-width: unset;
    object-position: top;
  }

  .school-page .img-block::after {
    top: 32%;
    right: 0;
    transform: rotate(45deg);
  }

  .school-page .img-block::before {
    top: 110px;
    right: -46%;
  }

  .school-page-title {
    top: -145px;
    padding-bottom: 0;
  }

  .school-page-title h1 {
    font-size: 56px;
    line-height: 78px
  }

  .school-page-title p {
    font-size: 17px
  }
  .school-page-content {
    text-align: center;
    padding-top: 50px;
    padding-left: 0;
  }

  .school-block {
    position: relative;
    z-index: 10;
  }
  .school-slider .slider .item .slider-img {
    min-width: unset;
    min-height: unset;
  }
}

@media screen and (max-width: 575px) {
  .school-slider {
    padding: 100px 20px
  }

  .school-slider .slider__nav .next, .school-slider .slider__nav .prev {
    width: 36px;
    height: 36px
  }

  .school-slider .slider__nav .next::after, .school-slider .slider__nav .prev::after {
    top: 7px;
    left: 7px
  }

  .school-slider .slider .item--active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
  }

  .school-slider .slider .item .slider-img {
    max-width: 350px;
    margin: 0 auto
  }

  .school-slider .slider .item .slider-text {
    text-align: center;
    padding-left: 0;
  }
  .school-slider .slider .item .slider-text h3 {
    font-size: 21px;
    margin-bottom: 2px
  }

  .school-slider .slider .item .slider-text h2 {
    font-size: 44px;
    margin-bottom: 10px
  }

  .school-slider .slider .item .slider-text p {
    font-size: 14px;
    line-height: 24px
  }

  .school-block {
    padding-bottom: 40px
  }

  .school-block .school-page-content .school-text h2 {
    font-size: 32px;
    line-height: 44px;
    text-align: center
  }

  .school-block .school-page-content .school-text p {
    text-align: justify;
    font-size: 14px;
    line-height: 30px
  }

  .school-page .img-block .photo-bg {
    left: 50%!important;
    transform: translateX(-50%);
    height: 250px;
  }

  .school-page .img-block::after {
    display: none;
  }

  .school-page .img-block::before {
    display: none;
  }

  .school-page-title {
    top: -167px;
    padding-bottom: 0;
  }

  .school-page-title h1 {
    font-size: 37px;
    line-height: 57px;
    text-align: center
  }

  .school-page-title p {
    font-size: 14px;
    text-align: center
  }
}

@media screen and (max-width: 320px) {
  .school-about {
    padding-bottom: 120px
  }

  .school-about .school-col {
    padding: 0 15px
  }

  .school-about .school-about-title h2 {
    font-size: 32px;
    line-height: 62px;
    margin-bottom: 24px
  }

  .school-page .img-block .photo-bg {
    left: -257px;
    width: 543px
  }

  .school-page .img-block::after {
    width: 900px;
    top: 47%;
    right: 0;
    -webkit-transform: rotate(51deg);
    transform: rotate(51deg)
  }

  .school-page .img-block::before {
    width: 900px;
    top: 163px;
    right: -49%;
    -webkit-transform: rotate(-52deg);
    transform: rotate(-52deg)
  }

  .school-page-title {
    top: -189px;
    padding-bottom: 0
  }

  .school-page-title h1 {
    font-size: 37px;
    line-height: 60px
  }

  .school-page-title p {
    font-size: 14px;
    text-align: justify
  }
  .about-page-content img {
    min-height: fit-content;
  }
}

.showForm {
  -webkit-transition: .3s;
  transition: .3s
}

.showForm:hover {
  color: #0ff !important;
  background: #6c6cc4 !important
}